.fullcanvas{width:100%;height:39px;}
.fullcanvas .leftborder{height:39px;width:8px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_left.png?c=1') no-repeat;}
.fullcanvas .rightborder{height:39px;width:8px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_right.png?c=1') no-repeat;}
.fullcanvas .centercontent{height:39px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_center.png?c=1') repeat-x;}
.fullcanvas .canvas_title{padding-left:10px;}
.leftcanvas{width:100%;height:39px;}
.leftcanvas .leftborder{height:39px;width:8px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_left.png?c=1') no-repeat;}
.leftcanvas .centercontent{height:39px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_center.png?c=1') repeat-x;}
.leftcanvas .canvas_title{padding-left:10px;}
.rightcanvas{width:100%;height:39px;}
.rightcanvas .rightborder{height:39px;width:8px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_right.png?c=1') no-repeat;}
.rightcanvas .centercontent{height:39px;padding-top:0px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_center.png?c=1') repeat-x;}
.rightcanvas .canvas_title{padding-left:10px;}
.centercanvas{width:100%;height:39px;}
.centercanvas .centercontent{height:39px;background:url('/lfw/frame/device_pc/themes/webclassic/ui/container/canvas/images/bg_center.png?c=1') repeat-x;}
.centercanvas .canvas_title{padding-left:10px;}
.nonecanvas{}
