.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 1px; /* there must be 'bottom' for ps-scrollbar-x */
    height: 14px;
    background-color: #bbb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
	z-index:1000;
}

.ps-container:hover .ps-scrollbar-x {
    opacity: 1;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x:hover {
    opacity: 1;
    filter: alpha(opacity = 90);
    cursor:default;
}

.ps-container .ps-scrollbar-x.in-scrolling {
    opacity: 1;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 2px; /* there must be 'right' for ps-scrollbar-y */
    width: 14px;
    background-color: #bbb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
	z-index:1000;
}

.ps-container:hover .ps-scrollbar-y {
    opacity: 1;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y:hover {
    opacity: 1;
    filter: alpha(opacity = 90);
    cursor: default;
}

.ps-container .ps-scrollbar-y.in-scrolling {
    opacity: 1;
    filter: alpha(opacity = 90);
}

.ps-container .ps-content-x{
	position: absolute;
	height:14px;
	bottom:2px;
	z-index:999;
	left:0px;
	background-color: #eee;
	    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.ps-container .ps-content-y{
	position: absolute;
	width:14px;
	right:2px;
	z-index:999;
	background-color: #eee;
	    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.ps-container:hover .ps-content-x {
    opacity: 1;
    filter: alpha(opacity = 60);
}
.ps-container:hover .ps-content-x {
    opacity: 1;
    filter: alpha(opacity = 60);
}
.ps-container  .ps-content-y:hover {
    opacity: 1;
    filter: alpha(opacity = 90);
}
.ps-container  .ps-content-y:hover {
    opacity: 1;
    filter: alpha(opacity = 90);
}

.ps-container:hover  .ps-content-y {
    opacity: 1;
    filter: alpha(opacity = 90);
}
.ps-container:hover  .ps-content-y {
    opacity: 1;
    filter: alpha(opacity = 90);
}

.fixClass{
	position:fixed !important;
	background-color:#fff !important;
	z-index:99999 !important;
	width:98.5% !important;
	overflow-y:auto !important;
	overflow-x:hidden !important;
}
.bgy_pbc_font_color {
    color: red;
}
