<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta name="renderer" content="webkit">
<!--<link rel="STYLESHEET" type="text/css" href="portalbillquery/css/index.css">-->
<!--<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->
<link href="/portalbillquery/css/tw-bs.3.1.1.css" rel="stylesheet">
<script src="/portalbillquery/js/console-polyfill.js"></script>
</head>
<body>
<div id="root" class="tw-bs"></div>
<script src="/client/portalbillquery/common.js"></script>
<script src="/client/portalbillquery/index.js"></script>
</body>
</html>