.message_div {
	position: absolute;
}


/********************瀹氫箟JS鎵?渶闈欐?甯搁噺   start *********************/
.message_div_DEFAULT_HEIGHT
{
	height:122px;
}
.message_div_DEFAULT_WIDTH
{
	height:253px;
}
/********************瀹氫箟JS鎵?渶闈欐?甯搁噺   end ***********************/

.message_text_div {
	overflow:auto;
	font-family:瀹嬩綋;
	font-size:14px;
	color:#202020;
	font-weight: bold;
	word-break:normal;  
	word-wrap:break-word;
	float:left;
}

.message_div .message_close_img {
	position:absolute;
	right:20px;
	top:20px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/message/images/close_normal.png?c=1') no-repeat;
	height: 19px;
	width: 19px;
	cursor: pointer;
}

.message_div .message_close_img_over {
	position:absolute;
	right:20px;
	top:20px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/message/images/close_highlight.png?c=1') no-repeat;
	height: 19px;
	width: 19px;
	cursor: pointer;
}

.bottom_msg_div {
	position:absolute;
	left: 5px;
	right: 10px;
	bottom: 0px;
	text-align: right;
	font-family:瀹嬩綋;
	font-size:12px;
	color:#7a7a7a;
}


.background_div .bg_left_top_div{
	position:absolute;
	left:0px;
	top:0px;
	width:11px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_left_top.png') no-repeat;
}

.background_div .bg_center_top_div{
	position:absolute;
	left:11px;
	right:11px;
	top:0px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_top_center.png') repeat-x;
}

.background_div .bg_right_top_div{
	position:absolute;
	right:0px;
	top:0px;
	width:11px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_right_top.png') no-repeat;
}

.background_div .bg_left_center_div{
	position:absolute;
	left:0px;
	top:11px;
	bottom:11px;
	width:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_left_center.png') repeat-y;
}

.background_div .bg_center_div{
	position:absolute;
	left:11px;
	right:11px;
	top:11px;
	bottom:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_center.png?c=1') repeat;
	padding:1px 2px 3px 2px;
}

.background_div .bg_right_center_div{
	position:absolute;
	right:0px;
	top:11px;
	bottom:11px;
	width:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_right_center.png') repeat-y;
}

.background_div .bg_left_bottom_div{
	position:absolute;
	left:0px;
	bottom:0px;
	width:11px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_left_bottom.png') no-repeat;
}

.background_div .bg_center_bottom_div{
	position:absolute;
	left:11px;
	right:11px;
	bottom:0px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_bottom_center.png') repeat-x;
}

.background_div .bg_right_bottom_div{
	position:absolute;
	right:0px;
	bottom:0px;
	width:11px;
	height:11px;
	background:url('/lfw/frame/device_pc/themes/webclassic/ui/ctrl/calendar/images/drop_right_bottom.png') no-repeat;
}
