/*!
 * 
 *    react-ie8-boilerplate - 
 *    Author: tommyshao
 *    Version: v1.0.0
 *    URL: http://github.com/tomieric/react-ie8-boilerplate
 *    License(s): MIT
 * 
 */
/*!
 * 
 *    react-ie8-boilerplate - 
 *    Author: tommyshao
 *    Version: v1.0.0
 *    URL: http://github.com/tomieric/react-ie8-boilerplate
 *    License(s): MIT
 * 
 */
body{font:12px/1.5 Microsoft Yahei;color:#666}.box{width:200px;height:500px;background:red;border-radius:2px;border:1px solid #000;-webkit-transform:scale(1);transform:scale(1)}.box.blue{background:blue}